{% extends "_global/index.html" %}

{% block main %}
<div class="options">
    <a href="/slo/user/auction/add">Add new Auction</a>
</div>
{% for auction in auctions%}
    <div class="auctiom-men row card text-center align-items-center">
        <div class="col-12 col-md-6 card">
            <a href="/slo/user/auction/edit/{{auction.auction_id}}">Naziv aukcije : {{ auction.title }}</a>
        </div>
        <div class="col-12 col-md-6 card">
            Opis aukcije : {{ auction.description }}
        </div>
        <div class="col-12 col-md-6 card">
            kraj aukcije : {{ auction.end_at }}
        </div>
        <div class="col-12 col-md-6 card ">
            Pocetna cena : {{ auction.starting_price }}
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block title %} {{ categoryId.skills | escape }} {% endblock%}