{% extends "_global/index.html" %}

{% block main %}
<div class="get-add">
    <div class="options">
        <a href="/slo/user/categories/">Return to all categories</a>
        <a href="/slo/user/categories/add">Add new categories</a>
    </div>

    <form class="auction-form" method="POST" enctype="multipart/form-data">
        <div class="form-gropu">
            <label for="title">Naziv aukcije</label>
            <input type="text" id="title" name="title" placeholder="Upisi naziv..." class="form-control">
        </div>

        <div class="form-gropu">
            <label for="description">Opis aukcije</label>
            <textarea type="text" id="description" name="description" placeholder="Upisi opis..." class="form-control"></textarea>
        </div>

        <div class="form-gropu">
            <label for="startingprice">Pocetna cena</label>
            <input type="number" id="startingprice" name="startingprice" min="0.01" step="0.01" class="form-control">
        </div>

        <div class="form-gropu">
            <label for="startat">Pocetak aukcije</label>
            <input type="date" id="startat" name="startat"  class="form-control">
        </div>

        <div class="form-gropu">
            <label for="endsat">Zavrsetak aukcije</label>
            <input type="date" id="endsat" name="endsat"  class="form-control">
        </div>

        <div class="form-gropu">
            <label for="image">Dodaj Sliku</label>
            <input type="file" id="image" name="endsat"  class="form-control" accept="image/jpeg">
        </div>

        <div class="form-gropu">
            <label for="category_id">Kategorija</label>
            <select class="form-control" id="category_id" name="categoryid">
                {%for categiry in categorys%}
                    <option value="{{ categiry.category_id }}">{{ categiry.users}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-gropu">
            <button type="submit" class="btn btn-primary">Dodaj aukciju</button>
        </div>
    </form>
</div>
{% endblock %}
