{% extends "_global/index.html" %}

{% block main %}
<div class="">
    <div class="options">
        <a href="/slo/user/categories/">Return to all categories</a>
        <a href="/slo/user/categories/add">Add new categories</a>
    </div>

    <div>
        {{ message }}
    </div>
</div>
{% endblock %}
