{% extends "_global/index.html" %}

{% block main %}
<div class="all-categories">
   <div class="options">
       <a href="/slo/user/categories/add">Add new categories</a>
   </div>

    <div class="categories">
        <ul>
            {% for category in categorys %}
                <li>
                    <a href="/slo/user/categories/edit/{{ category.category_id}}">
                        {{ category.skills|escape }}
                    </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

