{% extends "_global/index.html" %}

{% block main %}
<div class="category-edit get-add">
    <div class="options">
        <a href="/slo/user/categories/">Return to all categories</a>
        <a href="/slo/user/categories/add">Add new categories</a>
    </div>

    <form class="register" method="POST">
        <div>
            <label for="skillsf-filed">
                <input type="text" id="skillsf-filed" name="skills" value="{{ category.skills }}">
            </label>
        </div>
        <div>
            <button type="submit">Izmeni</button>
        </div>
    </form>
</div>
{% endblock %}

