{% extends "_global/index.html" %}

{% block main %}
{% for auction in auctions%}
<div class="auction row justify-content-center">
    <div class="col-12 col-md-3 text-center card">
        <a href="/slo/auction/{{ auction.auction_id}}" class="card-body "> 
            <img src="/slo/assets/img/category/{{auction.img}}.png" alt="Velika Slika - {{ auction.auction_id }}" class="align-items-center justify-content-center auction-big-image">
        </a>    
    </div>
  
   
    <div class="bg_color_card col-12 col-md-6  card ">
        <a href="/slo/auction/{{ auction.auction_id}}" class="col-12 col-md-10 auction-title text-center"> 
            {{ auction.title }}
        </a>
        <span class="start_at col-12 col-md-10 card-body text-center"> Pocetak aukcije: {{ auction.start_at }} </span>
        <span class="end_at col-12 col-md-10 card-body text-center"> Kraj aukcije:  {{ auction.end_at }} </span>
        <span class="starting_price col-12 col-md-10 card-body text-center"> Tenutna cena:  {{ auction.last_offer_price }} eur. </span>
    
    </div>
       
    </div>
    {% endfor %}
{% endblock %}

{% block title %} {{ categoryId.skills | escape }} {% endblock%}