{% extends "_global/index.html" %}

{% block main %}
<div class="row">
<form action="/slo/user/login" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
    <div class="card">
        <div class="card-header">Registracija Korisnika</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="input_username">Korisnicko ime</label>
                <input class="form-control" type="text" id="input_username" name="login_username" required placeholder="Unsesite vas email...">
            </div>

            <div class="mb-3">
                <label for="input_password">Lozinka</label>
                <input class="form-control" type="password" id="input_password" name="login_password" required placeholder="Unsesite vas ime...">
            </div>
        </div>
        <div class="card-footer">
            <div class="mb-3">
                <button class="form-control btn btn-primary" type="submit">Registruj se</button>
            </div>
        </div>
    </div>


</form>
</div>
{% endblock %}



