{% extends "_global/index.html" %}

{% block main %}
<div class="row">
    <form action="/slo/user/register" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
       <div class="card">
        <div class="card-header">Registracija Korisnika</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="input_email">E-mail</label>
                <input class="form-control" type="email" id="input_email" name="reg_email" required placeholder="Unsesite vas email...">
            </div>

            <div class="mb-3">
                <label for="input_forname">Ime</label>
                <input class="form-control" type="text" id="input_forname" name="reg_forname" required placeholder="Unsesite vas ime...">
            </div>

            <div class="mb-3">
                <label for="input_surname">Prezime</label>
                <input class="form-control" type="text" id="input_surname" name="reg_surname" required placeholder="Unsesite vas prezime...">
            </div>

            <div class="mb-3">
                <label for="input_username">Korisnicko Ime</label>
                <input class="form-control" type="text" id="input_username" name="reg_username" required placeholder="Unsesite vas username...">
            </div>

            <div class="mb-3">
                <label for="input_password">Lozinka</label>
                <input class="form-control" type="password" id="input_password" name="reg_password" required placeholder="Unsesite password...">
            </div>

            <div class="mb-3">
                <label for="input_password_again">Ponovi Lozinku</label>
                <input class="form-control" type="password" id="input_password_again" name="reg_password_again" required placeholder="Unsesite password jos jednom...">
            </div>
        </div>
        <div class="card-footer">
            <div class="mb-3">
                <button class="form-control btn btn-primary" type="submit">Registruj se</button>
            </div>
        </div>
       </div>
    </form>
</div>
{% endblock %}

