{% extends "_global/index.html" %}

{% block main %}
{{ podatak }}
    <div class="row categoriys"><!-- categoriys -->
        {% for categorty in categorys %}
            
                <a href="/slo/category/{{ categorty.category_id }}" class="col-12 col-sm-6 col-md-4 col-lg-3 text-center  category"><!-- category -->
                    {{ categorty.users | escape }}
                </a>
        {% endfor %}
    </div>
{% endblock %}

