/**{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 900px;
    margin: 0 auto;
}



.site-header{
    display: grid;
    grid-template-areas: "banner social"
                         "banner search"
                         "menu menu";
}

.banners{
    grid-area: banner;
    background-color: chocolate;
}



.social-icon{
    grid-area: social;
    text-align: right;
    margin-bottom: 10px;
}

.social-icon img{
    width: 16px;
    height: 16px;
    margin: 0px 6px;
}

.search-box{
    grid-area: search;
    text-align: right;
}

#mane-menu{
    grid-area: menu;
    margin: 20px 0px;
}

#mane-menu > ul{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    text-decoration: none;
    list-style: none;
}

#mane-menu > ul >  li {
    flex: 1;
    text-align: center;
    background-color: silver;
}

#mane-menu > ul >  li > a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
}

#mane-menu > ul >  li > a:hover{
    color: rgb(221, 213, 213);
}

#mane-menu > ul >  li:hover{
    background-color: rgb(155, 143, 143);
}

.categoriys{
    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.category{
    width: 50%;
    text-align: center;
    padding: 80px 80px;
    border: 0.3px solid white;
}

.categoriys {
    background-color: silver;
}

.categoriys > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.categoriys > a:hover{
    cursor:pointer;
    color: rgb(221, 213, 213); ;
}

.categoriys :hover{
    background-color:rgb(155, 143, 143);
}

.auction{
    display: grid;
    grid-template-areas: "big big small1 title title title"
                          "big big samll2 date1 date2 price";
    grid-template-columns: 120px 0px 100px auto;                        
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.auction-big-image > img{
    width: 80px;
    height: 80px;
}

.auction-small-image {
    width: 40px;
    height: 40px;
}
.auction > .auction-title{
    grid-area: title;
    text-align: center;
    text-decoration: none;
    background-color: silver;
    padding: 7px;
    margin-bottom: 6px;
    color: white;
}

.auction > .start_at{
    grid-area: date1;
}

.auction > .end_at{
    grid-area: date2;
}

.auction > .starting_price{
    grid-area: price;
    text-align: center;
}

.auction > .auction-big-image{
    grid-area: big;
}

.auction > .image-1{
    grid-area: small1;
}

.auction > .image-2{
    grid-area: samll2;
}

.footer{
    text-align: center;
    margin: 30px 0;
}

.bookmarks{
    display: block;
    position: fixed;
    right: 0;
    top: 20px;
    padding: 10px;
    border: 1px solid black;
}

.register{
    display: flex;
    flex-direction: column;
}

.register  input{
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid silver;
    color: black;
    padding: 18px;
}

input:focus{
    background-color: rgb(155, 143, 143);
    color: white;
    border: none;
}

.register div button{
    padding: 18px 31px;
    border: none;
    background-color: silver;
    color: #000;
}

::placeholder{
    color: white;
}
.all-categories ul{
    list-style: none;
}
.all-categories ul li{
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;
    background-color: silver;
}
.all-categories{
    text-align: right;
    display: flex;
    flex-direction: column;
}

.all-categories .options{
    margin-bottom: 60px;
}

.all-categories a{
     text-decoration: none;
     padding: 10px 100px;
     background-color: silver;
     flex: 1;
 }

.all-categories a{
    color: white;
    font-family: Arial;
    font-size: 16px;
}
.all-categories a:hover{
    cursor: pointer;
    color: #234ac0;
}

.get-add .options{
    display: flex;
    justify-content: space-between;
}
.get-add .options a{

    text-decoration: none;
    padding: 5px 60px;
    background-color: silver;
    color: white;
}

**/

.social-icon a i.fa{
   display: inline-block;
    color: red;
    margin: 5px;
}






.category{
    text-align: center;
    padding: 80px 80px;
    border: 0.3px solid white;
    background-color: rgb(116, 149, 155);
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.category:hover{
    background-color: rgb(133, 160, 140);
    color: white;
}

main{
    margin-top: 31px;
}

.bookmark-card{
    margin-top: 30px 0px;
}

.auction-big-image{
    width: 70%;
    height: 200px;
}



.auction div > a{
    text-decoration: none;
    color: blue;
    font-size: 21px;
    padding-top: 18px;
}

.bg_color_card{
    background: silver;
}

.header-top-site{
    margin: 30px 0px;
}

.auctiom-men{
    padding: 60px 0px;
}

.auctiom-men > div{
    padding: 10px 0px;
}

.options a{
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    background-color: #0a53be;
    margin:0px;
    color: white;
}

.options a:hover{
    color: #4b8ebe;
}

.options{
    text-align: right;
}