<!DOCTYPE html>
<html>
    <head>
        <title>{%  block title %}Pocetna{% endblock %}</title>
        <meta charset="UTF-8">
       <link rel="stylesheet" href="/slo/assets/css/main.css">
       <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/slo/assets/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/slo/assets/libs/font-awesome/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container">
        <header>
            <div class="row header-top-site">
                <div class="col col-sm">
                    <a href="/slo">
                        <img src="/slo/assets/img/banner_con.jpg" alt="banner-1.jpg" width="60px">
                    </a>
                </div>
                <div class="col col-sm">
                    <div class="social-icon float-end">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="search-box">
                        <form method="POST" action="/slo/user/search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Unseite kljucne reci" name="q" required>
                                    <button class="btn btn-primary " type="submit">Pretrazi</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>


            <nav class="nav nav-pills flex-column flex-sm-row navmarsc">
                <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/slo">Pocetna</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/cetegorys">Kategorije</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/profile">Profil</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/contact">Kontakt</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/slo/user/login">Prijava</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="/slo/user/logout">Odjava</a>
            </nav>
        </header>
        <main>
            {% spaceless %}
            {% block main%}
                
                
            {% endblock %}
            {% endspaceless %}
        </main>

        <div class="card bookmark-card">
            <div class="bookmarks card-body">Loading bookmarks,please wheati...</div>
        </div>
       
        <div class="footer text-center">
            <footer>&copy; 2021 Slobodan Skaric Valjevo <a href="#">...</a></footer>
        </div>
        </div>
        <script src="/slo/assets/js/bookmark.js">
        </script>
    </body>
</html>