{% extends "_global/index.html" %}

{% block main %}
{{ podatak }}
<div class="row categoriys "><!-- categoriys -->
    {% for auction in auctions %}

    <a href="/slo/category/{{ auction.auction_id }}" class="col-12 col-sm-6 col-md-4 col-lg-3 text-center  category"><!-- category -->
        {{ auction.title | escape }}
        {{ auction.description | escape }}
    </a>
    {% endfor %}
</div>
{% endblock %}
