{% extends "_global/index.html" %}

{% block main%}
    <a href="#" onclick="addBookmark({{auction.auction_id}})">AddBookmarks</a>
    <h1>{{ auction.title}}</h1>
    <p>{{ auction.description }}</p>
    <p>Najveca ponuda: {{ lastOfferPrice }} eur</p>
    <p>Datum pocetka aukcije: {{ auction.start_at}}</p>
    <p>Datum isteka aukcije: {{ auction.end_at}}</p>
{% endblock %}

{%  block title %} {{ auction.title | escape}} {% endblock %}